<%= form_with(model: public_contract, local: true) do |form| %>
  <% if public_contract.errors.any? %>
    <div class="mb-4 text-red-600">
      <h2>
        <%= pluralize(public_contract.errors.count, "error") %> prohibited this
        contract from being saved:
      </h2>
      <ul>
        <% public_contract.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="sm:flex gap-4">
    <div class="sm:w-1/2 mb-4">
      <%= form.label :name, class: "block font-medium" %>
      <%= form.text_field :name, class: "w-full border rounded px-3 py-2" %>
    </div>
  
    <div class="sm:w-1/2 mb-4">
      <%= form.label :client, class: "block font-medium" %>
      <%= form.text_field :client, class: "w-full border rounded px-3 py-2" %>
    </div>
  </div>
  <div class="mb-4">
    <%= form.label :subject, class: "block font-medium" %>
    <%= form.text_field :subject, class: "w-full border rounded px-3 py-2" %>
  </div>

  <div class="mb-4">
    <%= form.label :image_url, class: "block font-medium" %>
    <%= form.text_field :image_url, class: "w-full border rounded px-3 py-2" %>
  </div>

    <div class="sm:flex gap-4">
    <div class="sm:w-1/2 mb-4">
    <%= form.label :due_date, class: "block font-medium" %>
    <%= form.date_field :due_date, class: "w-full border rounded px-3 py-2" %>
  </div>

    <div class="sm:w-1/2 mb-4">
    <%= form.label :max_price, class: "block font-medium" %>
    <%= form.number_field :max_price, class: "w-full border rounded px-3 py-2", step: 1 %>
  </div></div>

      <div class="sm:flex gap-4">

    <div class="flex items-center gap-4 sm:w-1/2 mb-4">
    <%= form.check_box :small_scale, class: "w-4 h-4" %>
    <%= form.label :small_scale, class: "block font-medium" %>

  </div>

     <div class="sm:w-1/2 mb-4">
      <%= form.label :status, class: "block font-medium" %>
      <%= form.select :status, PublicContract.statuses.keys.map { |k| [k.humanize, k] }, {}, class: "w-full border rounded px-3 py-2" %>
    </div>
</div>
  <div>
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 text-slate-700 bg-amber-500 hover:bg-amber-600 font-medium cursor-pointer flex items-center justify-center" %>
  </div>
<% end %>