<div id="<%= dom_id(public_contract) %>">
<div class="sm:flex gap-4">
 <%= link_to "Back", public_contracts_path, class: "text-center w-20 rounded-md px-3.5 py-2.5 mb-6 text-white bg-slate-700
  hover:bg-slate-500 flex items-center justify-center gap-2" %> 
  <h1 class="font-bold text-4xl text-slate-700 mb-6"><%= public_contract.name %></h1>
  </div>
  <div class="gap-10">
    <img
      class="w-full h-[500px] object-cover rounded-lg"
      src="<%= public_contract.image_url %>"
      alt="Obrázek zakázky"
    />
    <div>
      <table
        class=" mt-5 mb-5 text-left text-slate-700 text-sm border border-slate-700 rounded-lg overflow-hidden"
      >
        <tbody>
          <tr class="border-b">
            <th class="py-2 px-4 font-medium bg-white w-56">Zadavatel</th>
            <td class="py-2 px-4 text-white bg-cerulean-800">
              <%= public_contract.client %>
            </td>
          </tr>
          <tr class="border-b">
            <th class="py-2 px-4 font-medium bg-white">Předmět</th>
            <td class="py-2 px-4 text-white bg-cerulean-800">
              <%= public_contract.subject %>
            </td>
          </tr>
          <tr class="border-b">
            <th class="py-2 px-4 font-medium bg-white">Termín dokončení</th>
            <td class="py-2 px-4 text-white bg-cerulean-800">
              <%= l(public_contract.due_date, format: "%-d. %-m. %Y") %>
            </td>
          </tr>
          <tr class="border-b">
            <th class="py-2 px-4 font-medium bg-white">Max. cena</th>
            <td class="py-2 px-4 text-white bg-cerulean-800">
              <%= number_with_delimiter(public_contract.max_price, delimiter: "
              ") %> Kč
            </td>
          </tr>
          <tr class="border-b">
            <th class="py-2 px-4 font-medium bg-white">
              Zakázka malého rozsahu
            </th>
            <td class="py-2 px-4 text-white bg-cerulean-800">
              <%= public_contract.small_scale ? "Ano" : "Ne" %>
            </td>
          </tr>
          <tr class="border-b">
            <th class="py-2 px-4 font-medium bg-gray-50">Stav</th>
            <td class="py-2 px-4 text-white bg-cerulean-800">
              <%= public_contract.status.humanize %>
            </td>
          </tr>
          <tr class="border-b">
            <th class="py-2 px-4 font-medium bg-gray-50">Vytvořeno</th>
            <td class="py-2 px-4 text-white bg-cerulean-800">
              <%= l(public_contract.created_at, format: :short) %>
            </td>
          </tr>
          <tr>
            <th class="py-2 px-4 font-medium bg-gray-50">Naposledy upraveno</th>
            <td class="py-2 px-4 text-white bg-cerulean-800">
              <%= l(public_contract.updated_at, format: :short) %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
